{% extends "base.html" %}
<title>
  {% block title %}Об авторе проекта{% endblock %}
</title>
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Тут я размещу информацию о себе, используя свои умения верстать.
  Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
</p>
<h3>Привет, я автор - но мне пока лень добавлять что то сюда. Придумай материал сам</h3>
<h4>Тут я пишу текст о себе</h4>
<h4>Тут я вставил красивые картинки</h4>
<h4>Реклама ЯНДЕКСА?</h4>
<p><a href="https://github.com/Duckin1" target="_blank">Ссылка</a>
    на мой гитхаб, я сделал ссылку с переходом на новую страницу,
    так что не беспокойтесь что нужно будет возвращаться</p>
<p>Мне будет приятно если вы добавите меня в друзья и поставите follow</p>
{% endblock %}
